<header class="header">
    <div class="logo">
        <h1 class="title">Techommerce</h1>

        <button class="logo__button"><img src="../assets/ecommerce-logo.png" alt="logo" class="logo__img"></button>
    </div>
    <nav class="nav">
        <ul class="nav__ul">
            <a routerLink="/" class="nav__a">
                <li class="nav__li">Home</li>
            </a>

            <a routerLink="/shop" class="nav__a">
                <li class="nav__li">Shop</li>
            </a>
            
            <a href="" class="nav__a">
                <li class="nav__li">About us</li>
            </a>

        </ul>
    </nav>

    <div class="profile">
        <button class="button button--log-in">Log in</button>
    </div>
</header>
<div class="theme-icon"><img src="../assets/theme-icon.png" alt="theme-icon" class="theme__img"></div>
<router-outlet></router-outlet>
